ul.nav.nav-pills
  li
    a(ui-sref="site") Home
  li
    a(ui-sref="site.venue") Venue
  li
    a(ui-sref="site.hotel") Hotels
  li
    a(ui-sref="site.ceremony") Ceremony

div.ui-view
  div.container
    div.page-header
      h1 Home

    div
      p
      | Blah blah blah
      | blah blah blah

      p
        a(href="http://www.honeyfund.com/wedding/phoebeandkris") Wedding Registry