ul.nav.nav-pills
  li
    a(ui-sref="site") Home
  li
    a(ui-sref="site.venue") Venue
  li
    a(ui-sref="site.hotel") Hotels
  li
    a(ui-sref="site.ceremony") Ceremony

div.ui-view
  div.container
    div.page-header
      h1 We are getting (got) married!

    div
      center
        img(src="/img/pnk.png")

      p
        a(href="http://www.honeyfund.com/wedding/phoebeandkris") Wedding Registry