div.container
  div.page-header
    h1 Where to stay
    p
    | These are not the only places to stay, but here are some suggestions we found
    | at various price points and distances from the venue.

  div.col-md-4
    div.panel.panel-default
      div.panel-heading(ng-click="switchHotel('hilton')")
        h3.panel-title Hilton San Gabriel
          span.pull-right
            i.glyphicon.glyphicon-chevron-right
      div.panel-body
        p 225 W. Valley Blvd
        p San Gabriel, Ca 91776
        p
          a(href='http://www3.hilton.com/en/hotels/california/hilton-los-angeles-san-gabriel-LAXSGHF/index.html') Website
    div.panel.panel-default(ng-click="switchHotel('best-western')")
      div.panel-heading
        h3.panel-title Best Western Monterey Park
          span.pull-right
            i.glyphicon.glyphicon-chevron-right
      div.panel-body
        p 420 N. Atlantic Blvd.
        p Monterey Park, Ca 91754
        p
          a(href='http://www.bestwestern.com/Monterey_Park') Website
    div.panel.panel-default(ng-click="switchHotel('figueroa')")
      div.panel-heading
        h3.panel-title Hotel Figueroa
          span.pull-right
            i.glyphicon.glyphicon-chevron-right
      div.panel-body
        p 939 S. Figueroa St
        p Los Angeles, Ca 90015
        p
          a(href='http://www.figueroahotel.com/') Website
  div.col-md-8
    div.hotel-img
      img(ng-src="{{hotelImg}}")