doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width', initial-scale='1')
    link(href="/components/allmighty-autocomplete/style/autocomplete.css", rel="stylesheet", type="text/css")
    link(href='http://fonts.googleapis.com/css?family=Archivo+Narrow:400,700|Alegreya:400,700', rel='stylesheet', type='text/css')
    title= title
    block css
      link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.css')
      link(rel='stylesheet', href='/css/style.css')
    block js
      script(src='http://localhost:35729/livereload.js')
  body
    block content

    block body-js
      script(src="/components/angular/angular.js")
      script(src="/components/ui-router/release/angular-ui-router.js")
