extends layout

block content
  div(class="content", ng-app="PKWedding")
    div(ui-view)

block body-js
  script(src="/components/angular/angular.js")
  script(src="/components/lodash/dist/lodash.js")
  script(src="/components/angular-google-maps/dist/angular-google-maps.js")
  script(src="/components/allmighty-autocomplete/script/autocomplete.js")
  script(src="/components/ui-router/release/angular-ui-router.js")
  script(src="/components/restangular/dist/restangular.min.js")
  script(src="/js/pkwedding.js")
  script(src="/js/controller.js")